form{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
form:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}
input
{
    border-radius: 5px;
}
.submit-button{
    border-radius: 5px;
    background-color: aquamarine;
    border: 3px solid yellow;
}
.form-control{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}
.error-message
{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.add-new-item{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid greenyellow;
    align-items: center;
}
.add-new-item:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}
