.app-body{
    margin: 0 100px;
   
}
.app-header{
    position: relative;
    text-align: center;
}

.items-grid{
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: Repeat(auto-fill, 290px);
    grid-auto-rows: 290px;
    grid-gap: 50px;
    margin: 10px;
}